<h1>Painel Administrativo</h1>
<a href="admin/cadastro_alunos">
    <button class="btn btn-primary">Cadastrar Aluno</button>
</a> <br><br>
<a href="admin/painel_alunos">
    <button class="btn btn-primary">Painel de Alunos</button>
</a>