<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>


</head>

<body>

  <main>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">New Center</h1>
          <p class="fs-6">Formação técnico profissionalizante em Quixeramobim, consolidada no mercado local. Competência
            e excelência educacional, mais de 5.000 alunos capacitados e aptos ao ingresso no mercado de trabalho. Agora
            com a super novidade GRADUAÇÂO EAD. Ofertamos desde Curso Básico de Informática, na modalidade presencial,
            até graduação e pós-graduação, na modalidade EAD</p>
          <p class="col-md-8 fs-6">Endereço: R. Dom Quintino, 141 - Centro, Quixeramobim - CE, 63800-000</p>
          <p class="col-md-8 fs-6">Horario de Funcionamento: <br>
            Segunda-feira à Sábado 07:00–21:00 <br>
            Domingo Fechado
          </p>
          <a
            href="https://www.google.com/maps/dir//new+center/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x7bc34e10523d133:0xe660b976de2e2198?sa=X&ved=2ahUKEwiU9Z6ojMrvAhUbVTABHU05DmEQ9RcwE3oECBoQBQ"></a>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="imagens/img01.jpg" class="img-thumbnail">
          </div>
          <div class="col-sm">
            <img src="imagens/img02.jpg" class="img-thumbnail">
          </div>
          <div class="col-sm">
            <img src="imagens/img03.jpg" class="img-thumbnail">
          </div>
          <div class="col-sm">
            <img src="imagens/img04.jpg" class="img-thumbnail">
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <img src="imagens/img05.jpg" class="img-thumbnail">
          </div>
          <div class="col-sm">
            <img src="imagens/img06.jpg" class="img-thumbnail">
          </div>
          <div class="col-sm">
            <img src="imagens/img07.jpg" class="img-thumbnail">
          </div>
          <div class="col-sm">
            <img src="imagens/img08.jpg" class="img-thumbnail">
          </div>
        </div>
      </div>
      
</body>

</html>