
<main style="display: flex; justify-content: center; align-content: center; margin-top: 200px;">
    <div class="card" style="width: 600px;">
        <div class="card-body">
            <h4 style="text-align: center;">Login</h4>
            <form>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email: </label>
                    <input type="email" class="form-control" name=email aria-describedby="emailHelp"
                        placeholder="ex. contato@htmlecsspro.com" required>
                    <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha:</label>
                    <input type="password" class="form-control" name=senha placeholder="ex. senha">
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-primary">Logar</button>
            </form>
        </div>
    </div>
</main>
