<main style="display: flex; justify-content: center; align-content: center; margin-top: 10%;">
    {{!-- <div class="card" style="width: 100%;"> --}}

        <div class="card card-body">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 login-sec" style="display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
                        <h2 class="text-center text-secondary mt-2">Login</h2>
                        <a href="/usuarios/registro" class="text-center text-secondary mt-2">Se registrar</a>
                        <form class="login-form" action="/login" method="POST" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: space-between;" >
                            <div class="form-group" style="width: 100%;">
                                <label for="Email">Email: </label>
                                <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                                    placeholder="ex. newcenter@contato.com" required>
                            </div>
                            <div class="form-group mt-2" style="width: 100%;">
                                <label for="senha">Senha:</label>
                                <input type="password" class="form-control" name="senha" placeholder="ex. senha"
                                    minlength="6" required>
                                <br>
                            </div>
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Entrar</button>
                        </form>
                    </div>

                    <div class="col-md-8 banner-sec">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid"
                                src="http://sindcomerciarios.org.br/wp-content/uploads/2020/11/001.jpg"
                                alt="First slide" style="margin-left: 10px; border-radius: 3px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{!-- </div> --}}

</main>