
    <div class="card bg-light mb-3" style="width: 18rem;">
        <img class="card-img-top" src="https://soumamae.com.br/wp-content/uploads/2018/01/menino-estudando-no-quarto.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Kids</h5>
          <ul class="list-group list-group-flush">
              
              <li class="list-group-item text-primary">
                1- Photoshop
              </li>
              <li class="list-group-item text-primary">
                2- Corel Draw
               
              </li>
              <li class="list-group-item text-primary">
                3- Manutenção de Computadores
              </li>
              <li class="list-group-item text-primary">
                4- Desenvlovedor de Jogos
              </li>
              <li class="list-group-item text-primary">
                5- 3D Studio Max
              </li>
              <li class="list-group-item text-primary">
                6- Web Design Avançado 
              </li>
              <li class="list-group-item text-primary">
                7- Premiere Pro (Vídeo)
              </li>
              
              
            </ul>
          
        </div>
      </div>
   