


<br><br><br><br>
   <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Avançado 2<span
              class="text-muted"></h2>
          <p class="lead">1- Photoshop <br>
                3- PHP <br>
                4- Dreamweaver <br>
                5- Flash <br>
                6- Fireworks <br>
                7- Indesign <br>
                8- Web design avançado <br>
                9- Affter efects <br>

          </p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            src="https://ciclovivo.com.br/wp-content/uploads/2020/02/curso-TI-1280x720.jpg"
            width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice"
            focusable="false">
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"></text>
        </div>

        <p>
    <a href="/cursos">Voltar para Cursos</a>
  </p>
      </div>


