
    <div class="card bg-light mb-3" style="width: 18rem;">
        <img class="card-img-top" src="http://www.polocursos.com.br/wp-content/uploads/2012/08/Design-Grafico-em-Jundia%C3%AD-2-600px.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Design gráfico</h5>
          <ul class="list-group list-group-flush">
              
              <li class="list-group-item text-primary">
                1- Photoshop
              </li>
              <li class="list-group-item text-primary">
                2- HTML
              </li>
              <li class="list-group-item text-primary">
                3- PHP
              </li>
              <li class="list-group-item text-primary">
                4- Dreamweaver
              </li>
              <li class="list-group-item text-primary">
                5- Flash
              </li>
              <li class="list-group-item text-primary">
                6- Fireworks
              </li>
              <li class="list-group-item text-primary">
                7- Indesign
              </li>
              <li class="list-group-item text-primary">
                8- Web design avançado 
              </li>
              <li class="list-group-item text-primary">
                9- Affter efects
              </li>
              
            </ul>
          
        </div>
      </div>
    