<div class="card bg-light mb-3" style="width: 18rem;">
        <img class="card-img-top" src="http://revistadireito.com/wp-content/uploads/2018/10/juridico-empresarial-1.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Empresarial</h5>
          <ul class="list-group list-group-flush">
              
              <li class="list-group-item text-primary">
                1-  Administração com logística
              </li>
              <li class="list-group-item text-primary">
                2- Contabilidade c/ escrita fiscal
               
              </li>
              <li class="list-group-item text-primary">
                3- Departamento pessoal 7
              </li>
              <li class="list-group-item text-primary">
                4- Operador de caixa
              </li>
              <li class="list-group-item text-primary">
                5- Marketing e propaganda
              </li>
              <li class="list-group-item text-primary">
                6- Matemática financeira 
              </li>
              <li class="list-group-item text-primary">
                7- Turismo e Hotelaria 
              </li>
              <li class="list-group-item text-primary">
                8- Secretariado 7
              </li>
              <li class="list-group-item text-primary">
                9 - Exel avançado
              </li>
              <li class="list-group-item text-primary">
                10 - Administração financeira
              </li>
              <li class="list-group-item text-primary">
                11 - Atendente de farmácia 
              </li>
              <li class="list-group-item text-primary">
                12 - Açucar e alcool 
              </li>
              <li class="list-group-item text-primary">
                13 - Telemarketing e vendas
              </li>
              <li class="list-group-item text-primary">
                14 -  Auxiliar odontológico
              </li>
              <li class="list-group-item text-primary">
                15 - Marketing pessoal
              </li>
              <li class="list-group-item text-primary">
                16 - Bioenergia
              </li>
              
            </ul>
          
        </div>
      </div>
    <!-- Optional JavaScript -->