
    <div class="card bg-light mb-3" style="width: 18rem;">
        <img class="card-img-top" src="https://ciclovivo.com.br/wp-content/uploads/2020/02/curso-TI-1280x720.jpg">
        <div class="card-body">
          <h5 class="card-title">TI</h5>
          <ul class="list-group list-group-flush">
              
              <li class="list-group-item text-primary">
                1- Corel draw
              </li>
              <li class="list-group-item text-primary">
                2 - 3D studio max 8
                             
              </li>
              <li class="list-group-item text-primary">
                3 - Autocad 2007 mod 1 e 2
              </li>
              <li class="list-group-item text-primary">
                4- Delphi 7
              </li>
              <li class="list-group-item text-primary">
                5- Lógica de Programação
              </li>
              <li class="list-group-item text-primary">
                6- Visual Basic 
              </li>
              <li class="list-group-item text-primary">
                7- Linux para Rede
              </li>
              <li class="list-group-item text-primary">
                8- Desenvolvedor de Jogos
              </li>
              <li class="list-group-item text-primary">
                9 - Informática para Concurso
              </li>
              
              
            </ul>
          
        </div>
      </div>
    