<h1>Cursos</h1>


    <button type="button" class="btn btn-primary btn-lg btn-block">
        <div class="row justify-content-md-center">
        <div class="row justify-content-md-center col col-lg-4 ">
            <div class="card">
                <img class="card-img-top" src="imagens/basico.png" alt=""></div>
        </div>

    </button>

      
      <div class="card-deck ">
          <div class="card bg-primary mb-3"  style="max-width: 18rem;">
              <img class="card-img-top" src="http://revistadireito.com/wp-content/uploads/2018/10/juridico-empresarial-1.jpg" alt="">
              <div class="card-body text-black" >
                <a href="cursos/avancado1" class="card-link text-white">
                    <h5 class="card-title">Avançado 1 (Empresarial)</h5>
                </a>
              </div>
          </div>
          <div class="card text-white bg-primary mb-3" style=" max-width: 18rem;">
              <img class="card-img-top" src="http://www.polocursos.com.br/wp-content/uploads/2012/08/Design-Grafico-em-Jundia%C3%AD-2-600px.png" alt="">
              <div class="card-body">
                <a href="cursos/avancado2" class="card-link text-white">
                <h5 class="card-title">Avançado 2 (Design gráfico)</h5>
                </a>
              </div>
          </div>
          <div class="card bg-primary mb-3"  style="max-width: 18rem;">
            <img class="card-img-top" src="https://ciclovivo.com.br/wp-content/uploads/2020/02/curso-TI-1280x720.jpg" alt="">
            <div class="card-body " >
                <a href="cursos/avancado3" class="card-link text-white">
                    <h5 class="card-title text-write">Avançado 3 (TI)</h5>
                </a>
            </div>
        </div>
        <div class="card bg-primary mb-3"  style="max-width: 18rem;">
            <img class="card-img-top" src="https://soumamae.com.br/wp-content/uploads/2018/01/menino-estudando-no-quarto.jpg" alt="">
            <div class="card-body text-black" >
                <a href="cursos/avancadokids" class="card-link text-white">
                    <h5 class="card-title">Avançado Kids</h5>
                </a>
              
            </div>
        </div>
        
      </div>