<div class="row mb-2" style="margin-top: 5%;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Informática Básica</strong>
          <h3 class="mb-0">Curso Básico</h3>
          <div class="mb-1 text-muted">Matrículas R$ 10,00</div>
          <p class="card-text mb-auto">Apresenta os conceitos básicos e conteúdos iniciais, criar documentos e planilhas, apresentar as partes constituintes do computador, despertar o interesse do estudante por tecnologia.</p>
          <a href="cursos/basico" class="stretched-link">Veja por completo</a>
         </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" src="imagens/cursobasico.jpg" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Empresarial</strong>
          <h3 class="mb-0">Avançado I</h3>
          <div class="mb-1 text-muted">Matrículas R$ 10,00</div>
          <p class="mb-auto">Os exercícios são baseados em documentos utilizados diariamente nas empresas para melhor aprendizado, e também para auxiliar na formação dos futuros profissionais.</p>
          <a href="cursos/avancado1" class="stretched-link">Veja por completo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" src="http://revistadireito.com/wp-content/uploads/2018/10/juridico-empresarial-1.jpg" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>r</title><rect width="100%" height="100%" fill="#55595c"><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
        </div>
      </div>
    </div>
  </div>
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Designer Gráfico</strong>
          <h3 class="mb-0">Avançado II</h3>
          <div class="mb-1 text-muted">Matrículas R$ 10,00</div>
          <p class="mb-auto">Por meio de uma metodologia que prioriza a prática, você será capacitado para utilizar as mais variadas ferramentas presentes no mercado.</p>
            <a href="cursos/avancado2" class="stretched-link">Veja por completo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" src="http://www.polocursos.com.br/wp-content/uploads/2012/08/Design-Grafico-em-Jundia%C3%AD-2-600px.png"  width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>r</title><rect width="100%" height="100%" fill="#55595c"><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Avançado</strong>
          <h3 class="mb-0">Avançado III</h3>
          <div class="mb-1 text-muted">Matrículas R$ 10,00</div>
          <p class="mb-auto">Algumas áreas da informática necessitam de profissionais com conhecimento e domínio completo do assunto.</p>
          <a href="cursos/avancado3" class="stretched-link">Veja por completo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img"  src="https://ciclovivo.com.br/wp-content/uploads/2020/02/curso-TI-1280x720.jpg" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>r</title><rect width="100%" height="100%" fill="#55595c"><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Kids</strong>
          <h3 class="mb-0">Curso Kids</h3>
          <div class="mb-1 text-muted">Matrículas R$ 10,00</div>
          <p class="mb-auto">A ideia é prepará-los para que no futuro, tenham facilidade para compreender o universo da informática e possam ser inseridos no mercado sem grandes dificuldades.</p>
         <a href="cursos/avancadokids" class="stretched-link">Veja por completo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img"  src="https://soumamae.com.br/wp-content/uploads/2018/01/menino-estudando-no-quarto.jpg"  width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>r</title><rect width="100%" height="100%" fill="#55595c"><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">EAD</strong>
          <h3 class="mb-0">Cursos UniDomBosco</h3>
          <div class="mb-1 text-muted">Matrículas Gratuitas</div>
          <p class="mb-auto">Com 50 anos de tradição, aliado ao pionerismo e a inovação do grupo SEB, a faculdade Dom Bosco passa a ser credenciada como Centro Universitário UniDomBosco com nota máxima 5!</p>
          <a href="https://www.unidombosco.edu.br/cursos/" class="stretched-link">Veja por completo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" src="https://yt3.ggpht.com/ytc/AAUvwnhI8FMZAZEgq2vKPJTEU4MOAKpMHHF3J86yBihsXw=s900-c-k-c0x00ffffff-no-rj" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>r</title><rect width="100%" height="100%" fill="#55595c"><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
        </div>
      </div>
    </div>
  </div>